


* {
    font-family: Verdana,"Trebuchet MS","Lucida Grande",Arial,sans-serif;
}

body {
    /* background-color: rgb(238,238,238); */
    padding: 0 0 40px 0;
    margin: 0;
    font-size: 16px;
    color: #444;
}

body.index {
    line-height: 26px;
}

#pageContainer {
    margin: 0px auto;
    width: 900px;
    height: 100%;
    background-color: white;
    /* overflow: auto; */
}

#pageContent {
    margin: 20px 0px;
}

#banner {
    position: relative;
}

#nameInBanner {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    text-align: right;
    color: white;
    text-shadow: 1px 0px black;
    margin: 10px;
    border: none;
}

.textCenter {
    text-align: center;
}


.bigText {
    margin: 0 auto;
    width: 450px;
    color: #444;
    text-align: center;
    font-size: 26px;
    font-style: italic;
}


.floatRight {
    float: right;
}


.floatLeft {
    float: left;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
